.item4 { 
  grid-area: right; 
  font-size: 20pt;
}
.item6 { 
  grid-area: left; 
}
.item8{
  grid-area: right; 
}
.item7 { 
  grid-area: left; 
  font-size: 20pt;
  
}
.nime-wrap{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;

}
.gallery{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto ;
  align-items: center;
  justify-content: center;

}

.img-text{
    display: grid;
    grid-template-areas:
      'left left left right right right'
      'left left left right right right'
      'left left left right right right';
}


.ital{
  font-style: italic; 
  font-weight: bolder;
  color: rgb(181, 97, 107);
}
.highlight{
  color: rgb(181, 97, 107);

}
#tbox{
  color: white;
  font-weight: 500;
  background-color: rgba(58, 58, 58, 0.57); 
  
  
}
#hlt{
  color: black;
  font-weight: bold;
  background-color: rgb(251, 248, 248, 0.7); 
  
  padding: 15px;
  
}
.side-right{
  font-size: large;
  padding-left: 60px;
}

.side-left{
  font-size: large;

  padding-right: 60px;

}


/* .gallery {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(3, auto);
} */

/* .gallery__item{
  object-fit: cover;
  gap: 0;
} */
.ig {
  /* height: fit-content; */
  height: 250px ;
  /* display: block; */
  /* object-fit: cover; */
  /* display: block; */
  object-fit: cover;
}
.txt{
  font-size: large;
  height: fit-content;
}

.twitter-tweet{

  height: 30% !important;
}

.tsize{
  max-height: fit-content;
}